@import "src/page2.css";
@import "src/page3.css";
@import "src/page4.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  color: #868687;
}

.btn p {
  font-size: 0.625rem;
  font-size: clamp(0.625rem, 0.6rem + 0.125vw, 0.75rem);
}

/* Navbar Styling Starts */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25vw 4vw;
  font-size: 0.6rem;
  font-size: clamp(0.6rem, 0.57rem + 0.15000000000000002vw, 0.75rem);
  font-weight: 700;
  background-color: #fff;
  color: #000;
  position: fixed;
  width: 100vw;
  top: 0;
  box-shadow: 0 0 6px #00000030;
}

.nav-links a {
  color: #000;
}

/* Logo */
.logo-svg {
  height: 2rem;
}

.services span:hover {
  color: #ff556e;
}

/* Navbar Menu */
.menu {
  display: flex;
  align-items: baseline;
  border-radius: 8px;
}

.menu li:hover {
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.menu a:hover {
  color: #ff556e;
}

/* Dropdown Menu */
.services {
  position: relative;
}

.dropdown {
  background-color: #fff;
  position: absolute;
  /*With respect to parent*/
  display: none;
  border-radius: 8px;
  left: -15%;
  top: 30px;
  padding: 0;
  box-shadow: 0 0 8px #00000030;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #fff;
}

.services:hover .dropdown {
  display: block;
}

.menu .download-navbar {
  border: 2px solid #ff556e;
  border-radius: 20px;
  padding: 0.3125vw 1.1vw;
  background-color: #fff;
  color: #ff556e;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0 0.4vw 0 0;
}

.menu .download-navbar:hover {
  color: #ff556e;
  box-shadow: 0 0px 0.92vh #ff556e;
}

/* Responsive Navbar Menu Stats */

/* Checkbox Hack */

input[type=checkbox] {
  display: none;
}

/* Hamburguer Menu */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

main {
  margin: 0 auto;
}

/* Header */
.header {
  text-align: center;
  width: 80vw;
  margin: 150px auto 0;
}

.green-diamond {
  position: absolute;
  top: 14vh;
  height: 0.9rem;
  left: 3.4rem;
  z-index: -1;
}

.blue-circle {
  position: absolute;
  top: 28.8rem;
  left: 4.3rem;
  height: 80px;
  z-index: -1;
}

.yellow-circle {
  position: absolute;
  top: 7.3rem;
  right: 6.9rem;
  height: 1.3rem;
  z-index: -1;
}

h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
  margin: 0;
}

.header p {
  font-size: 0.9375rem;
  font-size: clamp(0.9375rem, 0.9rem + 0.1875vw, 1.125rem);
  color: #868687;
  font-weight: 500;
  padding: 2rem 0;
  margin: 0 auto;
  line-height: 1.6rem;
  width: 90%;
}

.header-iphone {
  margin: 100px auto 60px;
}

.header-iphone-img {
  max-width: 100%;
  height: auto;
  transition: transform .2s;
}

.header-iphone-img:hover {
  transform: scale(1.1);
}

.btn {
  margin: 30px 5px 0 0;
  background-color: #ff556e;
  color: #fff;
  /*font-size: 0.8rem;*/
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
  font-weight: 900;
  padding: 12px 40px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: #fff;
  box-shadow: 0 0px 15px #ff556e;
}

.btn i {
  font-size: 20px;
  margin-right: 5px;
}

.features-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
  padding-bottom: 64px;
}

.features-container p {
  color: #000;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 700;
  text-align: center;
}

.features-container .circle {
  width: 11vmin;
  height: 11vmin;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-container .purple {
  background-color: #e8e3f9;
}

.features-container .purple i {
  color: #aa7eec;
  font-size: 5vmin;
}

.purple:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}

@keyframes temblor {
  0% {
    left: 3px;
    top: 8px;
  }

  25% {
    left: -3px;
    top: 5px;
  }

  50% {
    left: 3px;
    top: 8px;
  }

  75% {
    left: -3px;
    top: 5px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}


.features-container .green {
  background-color: #d5f2ed;
}

.features-container .green i {
  color: #19ca94;
  font-size: 5vmin;
}

.green:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}

@keyframes temblor {
  0% {
    left: 3px;
    top: 8px;
  }

  25% {
    left: -3px;
    top: 5px;
  }

  50% {
    left: 3px;
    top: 8px;
  }

  75% {
    left: -3px;
    top: 5px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.features-container .pink {
  background-color: #f7e1e7;
}

.features-container .pink i {
  color: #ff556e;
  font-size: 5vmin;
}

.pink:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}

@keyframes temblor {
  0% {
    left: 3px;
    top: 8px;
  }

  25% {
    left: -3px;
    top: 5px;
  }

  50% {
    left: 3px;
    top: 8px;
  }

  75% {
    left: -3px;
    top: 5px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.features-container .yellow {
  background-color: #f7efd9;
}

.features-container .yellow i {
  color: #ffb30f;
  font-size: 5vmin;
}

.yellow:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}

@keyframes temblor {
  0% {
    left: 3px;
    top: 8px;
  }

  25% {
    left: -3px;
    top: 5px;
  }

  50% {
    left: 3px;
    top: 8px;
  }

  75% {
    left: -3px;
    top: 5px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.features-container .blue {
  background-color: #ddf0f9;
}

.features-container .blue i {
  color: #4fb9e8;
  font-size: 5vmin;
}

.blue:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}

@keyframes temblor {
  0% {
    left: 3px;
    top: 8px;
  }

  25% {
    left: -3px;
    top: 5px;
  }

  50% {
    left: 3px;
    top: 8px;
  }

  75% {
    left: -3px;
    top: 5px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}


/* Applying Media Queries */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    width: 80vw;
    background-color: #fff;
    right: 0;
    left: 10%;
    text-align: center;
    padding: 16px 0;
    box-shadow: 0 0 8px #00000070;
    z-index: 99;
    font-size: 2.75vw;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #fff;
    transition: 0.3s ease;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 80%;
    top: 20px;
    padding: 0;
    box-shadow: 0 0 8px #00000070;
  }

  .menu .download-navbar {
    font-size: 2.75vw;
  }
}