.container-screens-last {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}

.download-iphone {
  margin: 0 auto 60px;
}

.download-iphone-img {
  max-width: 100%;
  height: auto;
  margin-top: 140px;
  transition: transform .2s;
}

.download-iphone-img:hover {
  transform: scale(1.1);
}

.container-screens-bottom {
  width: 80vw;
  margin: 0 auto;
}

.container-screens-bottom p {
  font-size: 0.9375rem;
  font-size: clamp(0.9375rem, 0.9rem + 0.1875vw, 1.125rem);
  color: #868687;
  font-weight: 500;
  padding: 2rem 0;
  margin: 0 auto;
  line-height: 1.6rem;
  width: 90%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100%;
  background-color: #f7fafd;
  border-top: 1px solid #c8d4d6;
  padding: 5vh 5vw 2vh;
  gap: 2vh;
  color: #868687;
}

.container-footer-links {
  display: flex;
  justify-content: space-around;
}

.container-footer-links ul,
.container-footer-links a {
  text-decoration: none;
  list-style: none;
  color: #868687;
  padding: 0;
}

footer h4 {
  margin: 0;
}

footer p,
footer li {
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.5rem;
}

.fa-map-marker {
  padding-right: 6px;
}

.social-links {
  display: flex;
  gap: 2vw;
}

.social-links a {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #868687;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.copyright {
  margin: auto;
}

.copyright p {
  text-align: center;
  margin: 0;
}

@media (max-width: 810px) {
  .download-iphone-img {
    margin-top: 0;
  }

  .container-footer-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .social-links {
    justify-content: flex-end;
  }
}