.container-screens {
  text-align: center;
  padding: 100px 0;
  background-color: #f7fafd;
}

.container-screens h2 {
  font-size: 2.1875rem;
  font-size: clamp(2.1875rem, 2.175rem + 0.0625vw, 2.25rem);
}

.testimonials-top,
.testimonials-bottom {
  display: flex;
  justify-content: center;
  width: 85vw;
  margin: 0 auto;
  gap: 20px;
}

.fa-star {
  font-size: 1.35rem;
  color: #ffb30f;
}

.testimonial {
  font-size: 0.813rem;
  font-size: clamp(0.813rem, 0.7879999999999999rem + 0.125vw, 0.938rem);
  font-style: italic;
  line-height: 1.5rem;
}

.testimonial-name {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  font-weight: 700;
  font-style: normal;
  color: #000;
}

.rick,
.lynda,
.jay,
.frank,
.rita,
.jones {
  width: 33.33%;
}

.customer-logos {
  margin: 80px 6.45vw;
  padding: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.75rem;
  line-height: 3rem;
}

.container-testimonials-bottom {
  margin-bottom: 80px;
}

.container-feedback {
  width: 100vw;
  background-color: #e8eff6;
}

.feedback {
  width: 80vw;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin: 0 auto;
}

.p-feedback {
  margin: 0;
  font-size: 0.75rem;
}

.feedback .number {
  font-size: 2.875rem;
  font-size: clamp(2.875rem, 2.75rem + 0.625vw, 3.5rem);
  font-weight: 700;
  color: #000;
  margin: 0;
}

.fa-users {
  color: #aa7eec;
  font-size: 6.25vmin;
}

.fa-code {
  color: #19ca94;
  font-size: 6.25vmin;
}

.fa-gear {
  color: #ff556e;
  font-size: 6.25vmin;
}

.fa-comments {
  color: #ffb30f;
  font-size: 6.25vmin;
}

.fa-rocket {
  color: #4fb9e8;
  font-size: 6.25vmin;
}

@media (max-width: 810px) {
  .container-screens {
    padding: 60px 0;
  }

  .testimonials-top,
  .testimonials-bottom {
    display: flex;
    justify-content: center;
    width: 85vw;
    margin: 0 auto;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .rick,
  .lynda,
  .jay,
  .frank,
  .rita,
  .jones {
    width: 100%;
  }
}