@media (max-width: 768px) {

  .container-top,
  .container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 20px;
  }

  .container-top-left,
  .container-top-right,
  .container-bottom-left,
  .container-bottom-right {
    width: 80vw;
  }

  .container-top-left .img-description-1,
  .container-bottom-right .img-description-2 {
    width: 100%;
    height: auto;
  }
}